@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700|Playfair+Display');

body {
    background: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}



/*---------------------------------------
  Typography              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
}

h1 {
  color: #3d3d3f;
  font-size: 40px;
  line-height: normal;
}

h2 {
  color: #575757;
  font-size: 30px;
  line-height: normal;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}

h3 {
  color: #001C43;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;

}

h4 {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

p {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}

strong, span {
    color: #001C43;
    font-weight: bolder;
}



/*---------------------------------------
  Buttons               
-----------------------------------------*/

.arrow-btn i {
  background: #000000;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow-btn i:hover {
  background: #d7b065;
}



/*---------------------------------------
  General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #575757;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: contain !important;
}

#about, #work,
#contact, footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}


/*---------------------------------------
  Top Banner section              
-----------------------------------------*/

#home {
  background: url('../images/top-banner.png') 50% 0 no-repeat fixed;
  background-size: 1170px 345px;
  background-position: center top;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  height: 345px;
  text-align: center;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.home-wrapper {
  background: rgba(250,250,250,0.8);
  padding: 32px 12px;
}


/*---------------------------------------
  Content section              
-----------------------------------------*/

#about {
  padding-top: 50px;
}

#about .col-md-4 img {
  border-radius: 5px;
  margin-bottom: 28px;
}

#about .col-md-4 a {
  background: #e8e8e8;
  border-radius: 8px;
  color: #000000;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 40px;
}

#about .col-md-4 a:hover {
  background: #000000;
  color: #ffffff;
}

#about .about-thumb {
  background: #ffffff;
  border-radius: 5px;
  padding: 42px 32px;
}


/*---------------------------------------
  Grid             
-----------------------------------------*/

#work {
  background: #ffffff;
}

#work .work-thumb {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#work .work-thumb:hover {
  background: #ffffff;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#work .work-thumb img {
  border-radius: 5px;
  cursor: crosshair;
}


/*---------------------------------------
  Footer section              
-----------------------------------------*/

footer {
  background: #001C43;
}

footer h4 {
  color: #f9f9f9;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer .col-md-4 .support-cus:last-child {
  padding-top: 12px;
}

footer .col-md-4 .support-cus p {
  line-height: 20px;
}

footer .newsletter .form-control {
  box-shadow: none;
  transition: all 0.4s ease-in-out;
  margin-top: 16px;
  margin-bottom: 2px;
}

footer .newsletter .form-control:focus {
  border-bottom-color: #f2f2f2;
}

footer .newsletter input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
}

footer .newsletter button {
  background: #f9f9f9;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  height: 50px;
}

footer .newsletter button:hover {
  background: #d7b065;
  color: #ffffff;
}

footer .dash-line {
  border-top: 1px solid #292929;
  margin-top: 62px;
  padding-bottom: 52px;
  position: relative;
}


/*---------------------------------------
  Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #f9f9f9;
  border-radius: 100%;
  color: #3d3d3f;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0px 6px 10px 6px;
}

.social-icon li a:hover {
  background: #d7b065;
  color: #ffffff;
  transform: scale(1.1);
}
